ovh/keys/bliskochat_ovh_ed25519

# IDE
.idea/
*.iml
.gradle/
build/

# OS
.DS_Store
Thumbs.db

# App
dist/
node_modules/
config.js

# Android
android/local.properties
android/.gradle/
android/app/build/
android/.idea/
*.apk
